
html{
  font-family:  'Aldrich';
}
h1{
  text-align: center;
}
img{
  display: block;
  max-width: 100%;
  margin: auto; 
  border-radius: 20px;
}
#main{
  padding: 10px;
   border-radius: 20px;
  background: linear-gradient(45deg, rgba(12,210,99,0.5), rgba(60,40,99,0.8));
  
}
#img-caption{
  text-align: center;
  font-size: 12px;
}
#tribute-info{
  margin: 10px;
  text-align: justify;
}
#link{
  text-align: center;
}
#contact{
  text-align: center;
  padding-bottom: 20px;
}